In [1]:
import pandas as pd
df = pd.read_csv("weather_data.csv")
df

          day  temperature  windspeed  event
0  01-01-2017           32          6   Rain
1  01-02-2017           35          7  Sunny
2  01-03-2017           28          2   Snow
3  01-04-2017           24          7   Snow
4  01-05-2017           32          4   Rain
5  01-06-2017           31          2  Sunny

In [3]:
#from excel file
import pandas as pd
df = pd.read_excel("weather_data.xlsx", "Sheet1")
df

         day  temperature  windspeed  event
0 2017-01-01           32          6   Rain
1 2017-01-02           35          7  Sunny
2 2017-01-03           28          2   Snow

In [5]:
#Using python dictionary
weather_data ={
    'day' : ['1/1/2017', '1/2/2017', '1/2/2017'],
    'temprature' : [33,36,29],
    'windspeed' : [6,7,2],
    'event' : ['Rain', 'Sunny' , 'Snow' ]
             }
df = pd. DataFrame(weather_data)
df

        day  temprature  windspeed  event
0  1/1/2017          33          6   Rain
1  1/2/2017          36          7  Sunny
2  1/2/2017          29          2   Snow

In [6]:
#Using  List of Tuples
weather_data = [
    ('1/1/2017',32,5,'Rain'),
    ('1/3/2017',36,2,'Sunny'),
    ('1/2/2017',38,8,'Snow'),
]
df = pd.DataFrame(weather_data, columns= ["day","temp","windspeed","event"])
df

        day  temp  windspeed  event
0  1/1/2017    32          5   Rain
1  1/3/2017    36          2  Sunny
2  1/2/2017    38          8   Snow

In [8]:
#using list of dictionary
weather_data = [
    {'day': '1/1/2017', 'temperature': 32, 'windspeed': 6, 'event': 'Rain'},
    {'day': '1/2/2017', 'temperature': 35, 'windspeed': 7, 'event': 'Sunny'},
    {'day': '1/3/2017', 'temperature': 28, 'windspeed': 2, 'event': 'Snow'},
    
]
df = pd.DataFrame(data=weather_data, columns=['day','temp','windspeed','event'])
df

        day  temp  windspeed  event
0  1/1/2017   NaN          6   Rain
1  1/2/2017   NaN          7  Sunny
2  1/3/2017   NaN          2   Snow